<ion-header>

  <ion-navbar>
    <ion-title>{{ player.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <img *ngIf="player.photo" src="data:image/jpeg;base64,{{player.photo}}" />
        <img *ngIf="!player.photo" src="assets/avatar.png" />
        <ion-card-content>
          <ion-card-title>
            {{ player.number }} - {{ player.name }}
          </ion-card-title>
        </ion-card-content>

        <ion-item *ngIf="statistic">
          Goals
          <ion-badge item-end>{{ statistic.goals }}</ion-badge>
        </ion-item>
        <ion-item *ngIf="statistic">
          Assists
          <ion-badge item-end>{{ statistic.assists }}</ion-badge>
        </ion-item>
    </ion-card>
</ion-content>
