<ion-header>

  <ion-navbar>
    <ion-title>Players</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Players
    </ion-list-header>
    <ion-item *ngFor="let player of players | async">
      <ion-label (click)="goToPlayerDetail(player.id)">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-1>
              {{ player.number }}
            </ion-col>
            <ion-col col-2>
              <!--<ion-img width="80" height="80" src="data:image/jpeg;base64,{{player.photo}}"></ion-img>-->
              <img *ngIf="player.photo" src="data:image/jpeg;base64,{{player.photo}}" />
              <img *ngIf="!player.photo" src="assets/avatar.png" width="40" height="40" />
            </ion-col>
            <ion-col>
              {{ player.name }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
