<ion-header>

  <ion-navbar>
    <ion-title>Teams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Teams
    </ion-list-header>
    <ion-item *ngFor="let team of teams | async">
      <ion-label>
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-2>
                <!--<img *ngIf="team.logo" src="data:image/jpeg;base64,{{team.logo}}" />
                <img *ngIf="!team.logo" src="assets/avatar.png" width="40" height="40" />-->
                <img src="{{ team.logo }}" width="40" height="40" />
            </ion-col>
            <ion-col>
              {{ team.name }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
