<ion-header>

  <ion-navbar>
    <ion-title>Matches</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Matches
    </ion-list-header>
    <ion-item *ngFor="let match of matches | async">
      <ion-label (click)="goToMatchDetail(match.id)">
        <ion-grid>
          <ion-row>
            <ion-col col-10>
              <ion-grid>
                <ion-row justify-content-start align-items-center>
                  <ion-col col-2>
                    <!--<img *ngIf="match.homeTeam.logo" src="data:image/jpeg;base64,{{match.homeTeam.logo}}" />
                    <img *ngIf="!match.homeTeam.logo" src="assets/avatar.png" width="20" height="20" />-->
                    <img src="{{match.homeTeam.logo}}" width="30" height="30" />
                  </ion-col>
                  <ion-col col-10 class="team-name">{{ match.homeTeam.name }}</ion-col>
                </ion-row>
                <ion-row justify-content-start align-items-center>
                    <ion-col col-2>
                      <!--<img *ngIf="match.awayTeam.logo" src="data:image/jpeg;base64,{{match.awayTeam.logo}}" />
                      <img *ngIf="!match.awayTeam.logo" src="assets/avatar.png" width="20" height="20" />-->
                      <img src="{{match.awayTeam.logo}}" width="30" height="30" />
                    </ion-col>
                    <ion-col col-10 class="team-name">{{ match.awayTeam.name }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-2 justify-content-end align-self-center class="score">
              0:0
            </ion-col>
          </ion-row>
          <ion-row justify-content-start>
            <ion-col col-2>&nbsp;</ion-col>
            <ion-col class="match-date">
              {{ match.date | date:'dd.MM.y hh:mm' }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
